:root {
    --element1 : #0075FF;
    --text1 : #011627;
    --background : #F1EDEB;
    --circle : #bbbbbb;
    --element2 : #63acff;
}

@font-face {
    font-family: snakeFont;
    src: url(data/Kid\ Games.ttf);
}

@font-face {
    font-family: snakeFont2;
    src: url(data/MilkyNice.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 97.5vh;
    width: 100vw;
    font-family: snakeFont2;
    top: 0;
}

h1 {
    color: var(--text1);
    text-align: center;
    margin: 0;
    padding: 0;
    height: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: snakeFont;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

a.playButton {
    background-color: var(--element1);
    border: none;
    border-radius: 30px;
    color: var(--background);
    font-family: snakeFont2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

a.playButton:hover {
    background-color: var(--element2);
    color: var(--background);
}

.board {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    width: inherit;
    flex-direction: row;
}

.case {
    width : 20px;
    height : 20px;
    background-color: var(--circle);
    margin: 7px;
    border-radius: 100%;
}

output, h3 {
    color: var(--text1);
}

.score {
    display: none;
}

footer {
    height: 2.5vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #999999;
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: snakeFont2;
    font-size: 1.75vh;
}

footer a {
    text-decoration: none;
    color: var(--background);
}

footer a:hover {
    color: var(--text1);
}

@media screen and ( max-width: 768px) {
    .menu {
        height: fit-content;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .playButton {
        width: 30vw;
        height: min-content;
    }

    header {
        font-size: medium;
    }

    .highScore, .score {
        height: min-content;
        font-size: small;
        margin: 0;
        padding: 0;
        margin-right: 20px;
    }

    h1 {
        font-size: x-large;
    }

    .playButton {
        font-size: small;
        padding: 0.2em;
        margin: 10px;
    }

    header img {
        height :6.5vh;
        margin-right: 20px;
    }

    body {
        justify-content: flex-start;
    }
}

@media screen and ( min-width: 768px) {
    h1 {
        font-size: xxx-large;
    }
    
    .playButton{
        font-size: 1em;
        padding: 0.5em;
        min-width: 6vw;
        min-height: 3.5vh;
    }

    header img {
        height :8.5vh;
        margin-right: 20px;
    }

    body {
        justify-content: center;
    }
}
    
